NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAIL=bielmacali44@gmail.com
NEXT_PUBLIC_WHATSAPP_E164=5545988233831
NEXT_PUBLIC_PIX_KEY=1cac133e-13a1-4fed-ab20-623a8e8a12bc
NEXT_PUBLIC_SITE_URL=http://localhost:3000
